.id {
  border-top: 1px solid rgba(0, 0, 0, 0.106);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  p {
    font-size: 19px;
    font-weight: bold;
  }
  button {
    background: none;
    border: none;
    color: #f2d34c;
    font-weight: bold;
    font-size: 15px;
  }
}

.status {
  background-color: #f4f4f4;
  padding: 10px;
  color: #b6b6b6;
  font-size: 17px;
}

.forwarding {
  .head {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    .subtitle {
      color: #b6b6b6;
      font-size: 15px;
    }
    .marker {
      background-color: #f2d34c;
      font-weight: 600;
      padding: 5px 8px;
      border-radius: 3px;
      font-size: 13px;
    }
  }
  .body {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      left: 6px;
      top: 25px;
      height: 25px;
      width: 1px;
      background-color: #000;
    }
    .item {
      display: flex;
      align-items: center;
      &:not(:first-child) {
        margin-top: 30px;
      }
      img {
        width: 15px;
        height: 15px;
      }
      p {
        margin-left: 20px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.106);
        width: 100%;
        font-size: 17px;
      }
    }
  }
}

.parcel {
  margin-top: 20px;
  .subtitle {
    color: #b6b6b6;
    font-size: 15px;
  }
  .parcelWrapper {
    display: flex;
    align-items: center;
    margin-top: 10px;
    .parameter {
      display: flex;
      align-items: center;
      margin-right: 20px;
      .subtitle {
        margin-right: 5px;
        font-size: 15px;
      }
      .sentese {
        font-size: 17px;
      }
    }
  }
}

.delivery {
  margin-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.106);
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .deliveryText {
    max-width: 250px;
    .subtitle {
      color: #b6b6b6;
      font-size: 15px;
    }
    .deliveryTitle {
      margin-top: 10px;
      font-size: 17px;
    }
  }
  button {
    background: none;
    border: none;
    color: #f2d34c;
    font-weight: bold;
    font-size: 15px;
  }
}

.sender {
  margin-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.106);
  .subtitle {
    color: #b6b6b6;
    font-size: 15px;
    padding-top: 20px;
  }
  .senderTitle {
    margin-top: 10px;
    font-size: 17px;
  }
  .senderPhone {
    color: #b6b6b6;
    font-size: 17px;
  }
}

.package {
  margin-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.106);
  .subtitle {
    color: #b6b6b6;
    font-size: 15px;
    padding-top: 20px;
  }
  .packageButton {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    button {
      background: none;
      border: none;
      display: inline-block;
      background-color: #f0e6e6;
      padding: 8px 30px;
      width: 48%;
    }
  }
}

.headLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 150px);
  .logo {
    p {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 40px;
      color: #fff;
      background-color: #f2d34c;
      width: 80px;
      height: 80px;
      border-radius: 10px;
      font-weight: 600;
    }
  }
}