.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  button {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    img {
      width: 20px;
      height: 20px;
      margin: 0;
      padding: 0;
    }
  }
  p {
    font-weight: bold;
    display: block;
    margin: 0 auto;
    transform: translateX(-10px);
  }
}
