.Orders {
  margin-top: 20px;
  overflow-y: scroll;
  height: calc(100vh - 290px);
  a {
    text-decoration: none;
    color: #000;
  }
}

.column {
  border: 1px solid rgba(0, 0, 0, 0.106);
  padding: 20px;
  border-radius: 10px;
  &:not(:first-child) {
    margin-top: 10px;
  }
  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      font-size: 19px;
    }
    .from {
      background-color: #f2d34c;
      border-radius: 5px;
      padding: 3px 10px;
      font-weight: 500;
      font-size: 13px;
    }
  }
  .body {
    margin-top: 17px;
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    .group {
      text-align: left;
      .preview {
        color: rgb(158, 158, 158);
        font-size: 14px;
      }
      .value {
        margin-top: 5px;
        .line {
          font-size: 15px;
          position: relative;
          &::after {
            content: "";
            position: absolute;
            top: -13px;
            left: -15px;
            background-color: rgba(0, 0, 0, 0.106);
            height: 30px;
            width: 1px;
          }
        }
      }
    }
  }
}
